<div id="us-storage-tab1-wrap" class="us-layout-storage-wrap">
    <ul>
        <li>
            <button id="us-btn-removable" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-removable" /></span>
                <span id="us-lbl-removable" class="us-layout-lbl-storage"></span>
            </button>
        </li>
        <li>
            <button id="us-btn-harddisk" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-harddisk" /></span>
                <span id="us-lbl-harddisk" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
        <li>
            <button id="us-btn-mobilephone" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-mobilephone" /></span>
                <span id="us-lbl-mobilephone" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
        <li>
            <button id="us-btn-sectoken" class="us-layout-storage-btn-none" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-sectoken" /></span>
                <span id="us-lbl-sectoken" class="us-layout-lbl-storage"></span>
            </button>
        </li>
   		<!-- nhkim 20151015 -->
        <li>
            <button id="us-btn-mobiletoken" class="us-layout-storage-btn-none" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-sectoken" /></span>
                <span id="us-lbl-mobiletoken" class="us-layout-lbl-storage"></span>
            </button>
        </li>       
        <!-- end --> 
        <li>
            <button id="us-btn-savetoken" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-savetoken" /></span>
                <span id="us-lbl-savetoken" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
        <li>
            <button id="us-btn-websave" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-savetoken" /></span>
                <span id="us-lbl-savetoken" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
    </ul>
</div>