<div id="us-storage-tab2-wrap" class="us-layout-storage-wrap">
    <ul>
        <li>
            <button id="us-btn-smart" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-smart" /></span>
                <span id="us-lbl-smart" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
        <li>
            <button id="us-btn-touchsign" class="us-layout-storage-btn-none" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-touchsign" /></span>
                <span id="us-lbl-touchsign" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
        <li>
            <button id="us-btn-websectoken" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-websectoken" /></span>
                <span id="us-lbl-websectoken" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
        <li>
            <button id="us-btn-software" class="us-layout-storage-btn-off" type="button">
                <span class="us-drive-select"><img id="us-img-drive" /></span>
                <span class="us-img-storage"><img id="us-img-software" /></span>
                <span id="us-lbl-software" class="us-layout-lbl-storage"></span>	
            </button>
        </li>
    </ul>
</div>