<div id="us-div-password" class="us-layout-password" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-password-title" class="us-layer-title">
        <p id="us-password-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
	<div class="us-layer-body">
	    <div class="us-layout-password-body">
            <div class="us-layout-password-body-l">
                <div class="us-layout-password-img"><img id="us-password-cert-img" /></div>
            </div>
            <div class="us-layout-password-body-r">    
                <label id="us-password-notice-text" class="us-layout-password-notice-text" for="us-password-input-textbox"></label>
                <div class="us-layout-password-input-part"><input id="us-password-input-textbox" class="us-layout-password-input-textbox" type="password" /></div>
            </div>
        </div>        
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-password-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-password-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>            
	</div>
    <button id="us-password-cls-btn" class="us-layer-cls-btn" type="button"><img id="us-password-cls-btn-img" /></button>
</div>
